html{
	overflow-y: scroll;
}
body {
	font-family: "Arial", Helvetica, sans-serif;
	font-weight: bold;
	font-size: 22px;
	color: #DCDCDC;
	background-color: #000000;
	margin: 0px;
}
.words {
	position: relative;
	text-align: center;
	width: 60%;
	left: 50%;
	transform: translate(-50%);
}
.link {
	position: absolute;
	color: inherit;
	text-decoration: inherit;
    line-height: 64px;
	left: 50%;
	
}
.link:hover {
	color: purple;
	text-decoration: underline;
}
.textSection {
	position: relative;
	filter: drop-shadow(0 0 20px #000000);
	background-color:  #222035;
	width: 100%;
}
.logo {
	position: relative;
	top: 100%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: auto;
	height: 100%;
}
.topnav {
	position: relative;
	filter: drop-shadow(0 0 20px #000000);
	width: 100%;
	height: 130px;
	background-color: #222035;
}
.imageDivider {
	position: relative;
	z-index: -1;
	background-color: #ffffff;
	background-repeat: no-repeat, no-repeat;
}
.icon {
	position: relative;
	width: 64px;
	height: auto;
	left: 50%;
	transform: translate(-120%);
}
.canvas {
	position: relative;
	width: 90vh;
        max-width: 90vw;
	height: auto;
	left: 50%;
	transform: translate(-50%);
	margin-bottom: 15px;
	margin-top: 15px;
	filter: drop-shadow(0 0 20px #000000);
}
#mushroomDivider {
	background-image: url('./Media/Mushroom.png');
}
#landscapeDivider {
	background-image: url('./Media/A_Peaceful_Night.png');
}
@media (max-width: 600px) {
	.imageDivider {
		width: 100%;
		height: 70vw;
		background-size: 100%, auto;
		background-position: 50% 60%;
	}
	.textSection {
		padding-top: 50px;
		padding-bottom: 50px;
	}
}
@media (min-width: 601px) {
	.imageDivider {
		width: 100%;
		height: 40vw;
		background-size: 100%, auto;
		background-position: center;
	}
	.textSection {
		padding-top: 60px;
		padding-bottom: 60px;
	}
}
